
.form-layout{
    bordeer-radius: 20px;
    width: 500px;
}


.navbar ul li {
    margin-right: 30px; /* Öğeler arasındaki yatay boşluk */
}
/* styles.css */

body {
    background-color: #f0f2f5;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-link {
    color: #333;
    font-size: 1rem;
    margin-left: 15px;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-toggler {
    border-color: rgba(0,0,0,.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .dropdown-menu {
    border-radius: 0.5rem;
    border: 1px solid #e3e3e3;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.navbar .dropdown-item:hover {
    background-color: #black;
}

.navbar .form-control {
    border-radius: 0.25rem;
    border: 1px solid #e3e3e3;
}

.navbar .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.navbar .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
}

.navbar .btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.navbar .btn-outline-success:hover {
    background-color: #28a745;
    color: #fff;
}

.navbar .btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

.navbar .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff;
}

.navbar .badge {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1;
    vertical-align: baseline;
    border-radius: 0.25rem;
    padding: 0.25em 0.4em;
}

.navbar .fa-shopping-cart {
    position: relative;
}

.navbar .fa-shopping-cart .badge {
    position: absolute;
    top: -10px;
    right: -10px;
}
