{% include "store/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    body {
        background-color: #f0f2f5;
        font-family: 'Roboto', sans-serif;
    }

    .login-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 50px auto;
        padding: 30px;
    }

    .login-container h3 {
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    .login-container .btn-success {
        background-color: #28a745;
        border-color: #28a745;
    }

    .login-container .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

    .login-container .form-control {
        border-radius: 5px;
    }

    .login-container .text-center a {
        color: #007bff;
        text-decoration: none;
    }

    .login-container .text-center a:hover {
        text-decoration: underline;
    }
</style>

<br>
<div class="login-container">
    <h3>Login to Your Account</h3>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.username|as_crispy_field }}
        <br><br>

        {{ form.password|as_crispy_field }}
        <br><br>

        <button type="submit" class="btn btn-success btn-lg w-100 btn-block p-2">
            <i class="fa fa-key" aria-hidden="true"></i>&nbsp; Login
        </button>
        <br><br>

        {{ form.non_field_errors }}

        <div class="text-center">
            <a href="{% url 'register' %}">Don't you have an account?</a>
        </div>
        <br>
        <div class="text-center">
            <a href="{% url 'reset_password' %}">Forgotten your password?</a>
        </div>
    </form>
</div>

{% endblock content %}












